@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color:#F5F8FF ;
}

nav{ 
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin: 0px 200px;
}
.logo{
     font-family: "Inter", sans-serif;
    size: 34px;
    font-weight: 900;
    font-size: 45px;
  color: #4E47FF;
}
.action-btn{
    background-color:#4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius:10px;
    border: none; 
}

.action-btn:hover {
    background-color:#6560f9;
}

span{
    color: #FFFFFF;
}
.cool-dark{
    text-align: center;
    padding-bottom: 20px;
}
.cool{
    padding-top: 180px;
    font-weight: 700;
    font-size: 65px;
    line-height: 100%;
    font: bold;
    color: #252432;
}

.one-header{
    background-image: url("../B12A01-landing-launchpad/Assets/Hero-bg.png");
}
.see-it{
    align-items: center;
}
#h2{
    font-weight: bold;
    font-size: 42px;
    column-gap: 23px;
}
#op{
   color: #757575;
   font-weight: 400;
   font-size: 24px;
   gap: 23px;
   
} 
.first-div{
    display: flex;
    justify-content: space-between; 
    align-items: center 220px;
    padding-top: 220px;
    padding-left:220px;
    padding-right: 220px;;
    gap: 5px
}

img{
    border-radius: 48px;
    width: 403px;
    height: 328;
}

.joined{
    font-weight: 700;
    size: 38px;
    line-height: 100%;
}
